@page
@model HotelMS.Frontend.Pages.Reservations.PayModel

@{
	ViewData["Title"] = "Pay";
}

<div class="alert alert-success" role="alert">
	<p>
		<strong>Do you want to pay for this reservation? This action cannot be recovered.</strong>
	</p>
</div>

<div>
	<form method="post">
		<div asp-validation-summary="ModelOnly" class="text-success"></div>
		<button class="w-100 btn btn-lg btn-success" type="submit">Pay for this reservation</button>
	</form>
</div>

